@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html, body {
  height: 100%;
  font-size: 62.5%;
}

article {
  font-size: 1.8rem;
  font-family: Gotham, sans-serif;
  overflow-x: hidden;
}
@media (max-width: 460px) {
  article {
    font-size: 1.4rem;
  }
}

h1 {
  margin-bottom: 50px;
  font-size: 3.6rem;
  text-align: center;
}

li {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

a {
  color: inherit;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #fff;
}

section {
  position: relative;
  padding: 10vh 10vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  background: #E39261;
  /* background: #EEBAC5; */
  /* background:  #fcdd60; */
  /* background: rgb(243, 187, 215); */
}

section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  /* background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%); */
}

section:nth-child(2) {
  /* background: #4dc6e6; */
  /* background: #77d1f8; */
  /* background: #85CBD6; */
  background: #8DAFC5;
  color: #fff;
}

section:nth-child(3) { 
  background: #e4ce72;
   color: #fff; 
}

section:nth-child(4) {
  background:#E5E5E5; 
  color: #fff; 
}

section h1 {
  font-family: 'Futura', sans-serif;
}

/* スクロールボタンの実装 */
/* https://codepen.io/nxworld/ を参照 */

.scroll{
  display: flex;
  justify-content: center;
}

.scroll a {
  padding-top: 60px;
  position: absolute;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 Futura, sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  transition: opacity .3s;
}

.scroll a:hover {
  padding-top: 60px;
  position: absolute;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  opacity: .7;
}

.scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

.scroll a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.scroll a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Topへ戻るのScroll */

.scrollup a span::after {
  transform: rotate(135deg);
}

/* side-navi */

.side-navi {
  position: fixed;
  transform: rotate(270deg);
  top: 45%;
  left: -60px;
  z-index: 2;
}
@media (max-width: 460px) {
  .side-navi{
    display: none;
    height: 100%;
    width: 166px;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));
  }
  .side-navi a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2.5rem;
    color: black;
    display: block;
  }
  .side-navi a:hover {
   color: #f1f1f1;
   }
}

.side-navi nav ul {
  display: flex;
}

.side-navi nav ul li {
  font-size: 2.2rem;
}

.side-navi nav ul li a {
  text-decoration: none;
  color: #FFF;
  padding: 10px;
  font-family: Futura, sans-serif;
}

.side-navi nav ul li a:hover {
  text-decoration-color: #333;
  color: #6a6a6a;
}

/* .side-navi-mobile .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3.6rem;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .side-nav-mobile {
    padding-top: 15px;
  }
  .side-nav-mobile a {
    font-size: 1.8rem;
  }
} */

/* svg_logoについての参照リンク https://www.willstyle.co.jp/blog/1569/ */
/* HERO-SVGの操作実装 */
#svg-animation .st0{
  fill:none;
  stroke:rgb(255, 255, 255);
  stroke-width:100;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-dasharray: 1500;
  stroke-dashoffset:1500;
}

#svg-animation {
  width: 500px;
}

/* SVGの位置 */
.hero {
  margin-top: 20%;
  display: flex;
  justify-content: center;
}
@media (max-width: 460px) {
  .hero{
    margin-top: 60%;
  }
}

/* 上下左右の中央寄せ */
.svg_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:  inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 320px) and (max-height: 480px) {
  .svg_logo {
    width: 320px;
    height: 480px;
  }
}



#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 1;
}

#introduction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 500px;
  font-size: 1.8rem;
  margin-top: 80px;
  margin-left: 150px;
  flex-wrap: wrap;
}
@media (max-width: 460px) {
  #introduction{
    justify-content: center;
    margin: 0 auto;
    height: 470px;
  }
}


#introduction img {
  margin-right: 100px;
  z-index: 2;
}
@media(max-width: 460px) {
  #introduction img{
    margin: 0 auto;
  }
}

.icon {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 10px #29262688;
}
@media (max-width: 460px) {
  .icon {
    width: 100px;
    height: 100px;
  }
}

.profile {
  width: 700px;
}
@media (max-width: 460px) {
  .profile{
    width: 300px;
  }
  .profile li {
    font-size: 0.8rem;
  }
}


.sns {
  display: flex;
  justify-content: center;
}

.sns p {
  margin: 20px;
  font-size: 3.0rem;
}
@media (max-width: 460px) {
  .sns p {
    font-size: 1.5rem;
  }
}

.sns p a {
  color: #fff;
}

.sns p a:hover {
  color: #000;
}

#jobs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

@media (max-width: 460px){
  #jobs {
    height: 500px;
  }
  .description {
    height: 400px;
  }
  .description li {
    font-size: 1.2rem;
  }
}

.company {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 400px;
}
@media (max-width: 460px) {
  .company{
    width: 200px;
    align-items: flex-start;
    height: 400px;
    align-content: stretch;
  }
}

.company img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px; 
}
@media (max-width: 460px) {
  .company img {
    width: 70px;
    height: 70px;
    margin-left: 40px;
    margin-right: 10px; 
  }
}

.company a:hover img {
  box-shadow: 0px 0px 10px #94939388;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  flex-wrap: wrap;
  align-content: center;
}
@media (max-width: 460px){
  .projects {
    height: 600px;
  }
}

.projects img {
  width: 200px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 18%;
}
@media (max-width: 460px) {
  .projects img {
    width: 100px;
    margin: 10px;
  }
}

.projects a {
  cursor: pointer;
}

.projects a:hover img {
  box-shadow: 0px 0px 10px #94939388;
}

#copyright{
  padding-top: 60px;
  position: absolute;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 Futura, sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  transition: opacity .3s;
  margin: 0 auto;
}
@media (max-width: 460px){
  #copyright {
    font-size: 0.7rem;
    bottom: 0px;
    padding-top: 20px;
  }
}