@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html, body {
  height: 100%;
}

article {
  font-size: 2em;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}
@media (max-width: 460px) {
  article {
    font-size: 1.5em;
  }
}

section {
  position: relative;
  padding: 10vh 10vw;
  min-height: 100vh;
  /* color: #333; */
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  /* background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%); */
}

section:nth-child(2) {
  background: #4dc6e6;
  color: #fff;
}

section:nth-child(3) { 
  background: #0aba58;
   color: #fff; 
}

section:nth-child(4) {
  background: #f8c82d; 
  color: #fff; 
}

pre {
  font-size: .75em;
  background: #222; color: #fff;
  padding: 20px;
}

.container{
  margin: 0 auto;
}

h1{
    text-align: center;
}

.box {
  position: relative;
  width: 50%; height: 30vh;
  background: #ec484d; 
  margin: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  text-align: center;
  color: #fff;
  font-size: 0.8em;
  padding: 10px;
}

.box:nth-child(2) { 
  background: #f8c82d;
}

.box:nth-child(3) { 
  background: #0aba58; 
}

a {
  color: inherit;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #fff;
}

/* HERO-SVGの操作実装 */
#svg-animation .st0{
  fill:none;
  stroke:rgb(255, 255, 255);
  stroke-width:100;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-dasharray: 1500;
  stroke-dashoffset:1500;
}

/* SVGの位置 */
.hero {
  margin-top: 15%;
}

/* トップ画面の背景設定 */
.box__bg_photo {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

/* 上下左右の中央寄せ */
.boxing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:  inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 320px) and (max-height: 480px) {
  .boxing {
    width: 320px;
    height: 480px;
  }
}

/* スクロールボタンの実装 */
/* https://codepen.io/nxworld/ を参照 */

.scroll{
  display: flex;
  justify-content: center;
}

.scroll a {
  padding-top: 60px;
  position: absolute;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.scroll a:hover {
  padding-top: 60px;
  position: absolute;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  opacity: .7;
}

.scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

.scroll a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.scroll a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


/* ページごとの背景設定 */

#section02 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg02.jpg) center center / cover no-repeat;}
#section03 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg03.jpg) center center / cover no-repeat;}
#section04 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg04.jpg) center center / cover no-repeat;}
#section05 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg05.jpg) center center / cover no-repeat;}
#section06 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg06.jpg) center center / cover no-repeat;}
#section07 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg07.jpg) center center / cover no-repeat;}
#section08 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg08.jpg) center center / cover no-repeat;}
#section09 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg09.jpg) center center / cover no-repeat;}

/* side-navi */

.side-navi-mobile {
  display: none;
  height: 100%;
  width: 166px;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));
}

.side-navi-mobile a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.side-navi-mobile a:hover {
  color: #f1f1f1;
}

.side-navi-mobile .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .side-nav-mobile {
    padding-top: 15px;
  }
  .side-nav-mobile a {
    font-size: 18px;
  }
}

.side-navi {
  position: fixed;
  transform: rotate(270deg);
  top: 45%;
  left: -280px;
  z-index: 2;
}

.side-navi nav ul {
  display: flex;
}

.side-navi nav ul li {
  font-size: 0.5em;
}

.side-navi nav ul li a {
  text-decoration: none;
  color: #f1f1f1;
  padding: 10px;
}

.side-navi nav ul li a:hover {
  text-decoration-color: #333;
  color: #dcd6d6;
}

#copyright{
  padding-top: 60px;
  position: absolute;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  margin: 0 auto;
}