*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html, body {
  height: 100%;
  font-size: 62.5%;
}

article {
  font-size: 1.8rem;
  font-family: Gotham, sans-serif;
}

h1 {
  margin-bottom: 50px;
  font-size: 3.6rem;
  text-align: center;
}

li {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

a {
  color: inherit;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #fff;
}

section {
  position: relative;
  padding: 10vh 10vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  background: #E39261;
}

section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
}

section:nth-child(2) {
  background: #8DAFC5;
  color: #fff;
}

section:nth-child(3) { 
  background: #e4ce72;
   color: #fff; 
}

section:nth-child(4) {
  background:#E5E5E5; 
  color: #fff; 
}

section h1 {
  font-family: 'Futura', sans-serif;
}

/* スクロールボタンの実装 */
/* https://codepen.io/nxworld/ を参照 */

.scroll{
  display: flex;
  justify-content: center;
}

.scroll a {
  padding-top: 60px;
  position: absolute;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 Futura, sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  transition: opacity .3s;
}

.scroll a:hover {
  padding-top: 60px;
  position: absolute;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 Futura, sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  opacity: .7;
}

.scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

.scroll a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.scroll a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Topへ戻るのScroll */

.scrollup a span::after {
  transform: rotate(135deg);
}

/* side-navi */

.side-navi {
  position: fixed;
  transform: rotate(270deg);
  top: 45%;
  left: -60px;
  z-index: 2;
}

.side-navi nav ul {
  display: flex;
}

.side-navi nav ul li {
  font-size: 2.2rem;
}

.side-navi nav ul li a {
  text-decoration: none;
  color: #FFF;
  padding: 10px;
  font-family: Futura, sans-serif;
}

.side-navi nav ul li a:hover {
  text-decoration-color: #333;
  color: #6a6a6a;
}

/* svg_logoについての参照リンク https://www.willstyle.co.jp/blog/1569/ */
/* HERO-SVGの操作実装 */
#svg-animation .st0{
  fill:none;
  stroke:rgb(255, 255, 255);
  stroke-width:100;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-dasharray: 1500;
  stroke-dashoffset:1500;
}

#svg-animation {
  width: 500px;
}

/* SVGの位置 */
.hero {
  margin-top: 17%;
  display: flex;
  justify-content: center;
}

/* 上下左右の中央寄せ */
.svg_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:  inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}


#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 1;
}

#introduction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 350px;
  font-size: 1.8rem;
  margin-top: 80px;
  margin-left: 150px;
  flex-wrap: wrap;
}

#introduction img {
  margin-right: 100px;
  z-index: 2;
}

.icon {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  box-shadow: 0px 0px 10px #29262688;
}

.profile {
  width: 400px;
}

.profile li {
  font-size: 1.4rem;
}

.sns {
  display: flex;
  justify-content: center;
}

.sns p {
  margin: 15px;
  font-size: 2.0rem;
}

.sns p a {
  color: #fff;
}

.sns p a:hover {
  color: #000;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex-wrap: wrap;
  align-content: center;
}

.projects img {
  width: 100px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 18%;
}

.projects a {
  cursor: pointer;
}

.projects a:hover img {
  box-shadow: 0px 0px 10px #94939388;
}

.project-item {
  background-color: rgb(206, 206, 206);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
  padding: 10px;
  margin: 20px;
}

.project-item h5 {
  font-family: Futura, sans-serif;
  font-size: 1.6rem;
  color: #fff;
}

.project-item p {
  font-size: 0.9rem;
  padding: 10px;
}

.project-item a {
  display: inline-block;
  padding: 7px 20px;
	border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
  font-size: 1.3rem;
}

.project-item a:hover {
  color: #FFF;
  text-decoration: none;
  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

#copyright{
  padding-top: 30px;
  position: absolute;
  bottom: 0px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 1rem Futura, sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  transition: opacity .3s;
  margin: 0 auto;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.detail {
  flex-direction: column;
}

.modal {
  color: rgb(255, 255, 255);
}

.modal-body p {
  font: 0.6rem;
  color: #464E70;
}

.modal-body p a {
  font: 1.0rem;
  color: rgb(63, 144, 160);
  text-decoration: none;
}

.modal-body p a:hover {
  font: 1.0rem;
  color: rgb(75, 74, 74);
  text-decoration: none;
}

.modal-body img {
  width: 100px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 18%;
}

h5.modal-title {
  font: 3.0rem;
}

.modal-content {
  padding: 20px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 900px;
  margin-top: 50px;
}

.job-item {
  width: 165px;
  height: 230px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 0.5px rgb(255, 255, 255) solid;
  border-radius: 5px;
  margin: 10px;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.job-item img {
  width: 70px;
  height: 70px;
  margin: 5px;
  border-radius: 5%;
}

.job-item p {
  font-size: 1rem;
  text-align: center;
  color: #464E70;
}

p.comname {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.job-item a:hover img {
  box-shadow: 0px 0px 10px #94939388;
}

a.sitelink {
  color: #464E70;
}

a.sitelink:hover {
  color: rgb(69, 68, 68);
}

.mobile {
  display: none;
}


#jobs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 800px;
  margin-top: 80px;
  margin-left: 150px;
}

p.middle {
  display: none;
}

.description {
  width: 650px;
}

.description li{
  font-size: 1.0rem;
}

.description li a{
  color: #47A0EC;
}

.description li a:hover{
  color: rgb(31, 139, 233);
}

.company {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 350px;
}

.company img {
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 5%;
}

.company a:hover img {
  box-shadow: 0px 0px 10px #94939388;
}


/* iphone 5s ~ X */
@media screen and (max-width: 480px) {
  article {
    font-size: 1.4rem;
  }

  .scroll {
    display: none;
  }

  .side-navi{
    display: none;
    height: 100%;
    width: 166px;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));
  }

  .side-navi a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2.5rem;
    color: black;
    display: block;
  }

  .side-navi a:hover {
   color: #f1f1f1;
   }

   .hero{
    margin-top: 50%;
  }

  .svg_logo {
    height: 480px;
  }

  #introduction{
    justify-content: center;
    margin: 0 auto;
    height: 400px;
  }

  #introduction img{
    margin: 0 auto;
  }

  .icon {
    width: 100px;
    height: 100px;
  }

  section{
    padding: 5vh 10vw;
  }
  .profile{
    width: 300px;
    height: 250px;
    padding-left: 10px;
  }
  .profile li {
    font-size: 0.8rem;
  }

  .sns p {
    font-size: 1.8rem;
  }

  .projects {
    height: 430px;
    width: 200px;
  }
  .projects img {
    width: 60px;
    height: 60px;
    margin: 8px;
  }

  .explain {
    display: none;
  }

  .project-item {
    width: 200px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px;
  }

  .project-item p {
    margin-bottom: 0px;
    padding: 5px;
  }

  .project-item h5 {
    display: none;
  }

  #copyright {
    font-size: 0.7rem;
    bottom: 0px;
    padding-top: 20px;
  }

  .coming {
    position: absolute;
    margin-top: 120px; 
   }

   .container{
    margin-top: 0px;
    padding: 5px;
  }
  .job-item {
    width: 80px;
    height: 120px;
    padding: 3px;
    margin: 5px;
  }
  .job-item img {
    width: 50px;
    height: 50px;
    margin: 2px;
  }

  .job-item p{
    margin-bottom: 1px;
  }

  .comname{
    font-size: 1rem;
  }

  .job-item .mobile{
    display: none;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .mobile {
    display: inherit;
  }

  .pc {
    display: none;
  }

  #jobs {
    height: 400px;
    margin-top: 20px;
    margin-left: 10px;
    width: auto;
  }
  .description {
    height: 400px;
    width: 150px;
  }
  .description li {
    font: 0.5rem;
  }
  .description li a {
    display: none;
  }
  .internship {
    display: none;
  }

  .company{
    width: 100px;
    align-items: flex-start;
    height: 400px;
    align-content: stretch;
  }

  .company img {
    width: 60px;
    height: 60px;
    margin: 5px 30px;
  }
}

/* ipad */
@media screen and (min-width: 481px) and (max-width: 979px) {
  .hero {
    margin-top: 45%;
  }

  #introduction {
    justify-content: center;
    height: 600px;
    margin-top: 0px;
    margin-left: 0px;
  } 

  #introduction img {
    margin-right: 0px;
  }

  .job-item {
    width: 150px;
    height: 140px;
  }

  .job-item img {
    width: 60px;
    height: 60px;
  }

  .job-item p.pc {
    display: none;
  }

  p.middle {
    display: inherit;
  }

  .projects {
    height: 630px;
  }
}



/*  ipad pro , pc ~1440px */
@media screen and (min-width: 980px) and (max-width: 1200px) {
  .hero {
    margin-top: 45%;
  }

  #introduction {
    justify-content: center;
    height: 600px;
    margin-top: 0px;
    margin-left: 0px;
  } 

  #introduction img {
    margin-right: 40px;
  }

  .job-item {
    width: 200px;
    height: 220px;
  }

  .job-item img {
    width: 70px;
    height: 70px;
  }


  .projects {
    height: 800px;
  }
}